# .gitignore file was created automatically when this repo was created
# chose haskell as the programming language to ignore from the dropdown
# Compiled Object files
#*.slo
#*.lo
#*.o
#*.obj

# Precompiled Headers
#*.gch
#*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
#*.mod

# Compiled Static libraries
#*.lai
#*.la
#*.a
#*.lib

# Executables
#*.exe
#*.out
#*.app
